# Cache dirs
.grunt/
.sass-cache/
node_modules/
bower_components/

# Build dirs
css/*
js/build/*

# Images
img/build/*
img/src/*

# Private data
.ftppass

# Never ignore .gitkeep files
!.gitkeep

*.swp