# Cache and installed
.grunt/
.sass-cache/
node_modules/
bower_components/

# Built
build/*
deploy/*

# Libraries
lib/*
!lib/scss/wp/*
!lib/scss/_libs-override.scss

# Private data
.ftppass

# System files
*.swp
[Tt]humbs.db
*.DS_Store
