// *************************************
//
// Icon
// -> Display an svg icon
//
// *************************************

.Icon {}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Icon--inline {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  padding-bottom: 0.2em;
}

.Icon--alone {}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
