// *************************************
//
// Nav-Toggle
// -> Nav-toggle
//
// *************************************

.Navigation-menuToggle  {
  display: block;
  @media all and (min-width: 980px) {
    display: none;
  }
}

.Navigation-menuToggle {
	//	background-color: white;
	cursor: pointer;
    width: 60px;
    height: 60px;
	
	&:hover {
		//	background-color: #fafafa;
	}
}


#js-navCollapseTarget {
  @media all and (max-width: 980px) {
    display: none;
  }
}
