// Responsive nav menu. Everything related to the navigation in TABLET/MOBILE mode should go here

@media all and (min-width: 1040px) {

} 

.Navigation-menuToggle {
  display: none;
}
.Navigation-menuToggle {
//background-color: white;
  width: 36px;
  height: 36px;
  border-radius: 7px;
  margin-top: 7px;	
  background-color: transparent;
  border: 3px solid white;
  cursor: pointer;
  float: right;    
	&:hover {
		//	background-color: #fafafa;
	}
}

.Nav-toggle {
  .Icon.Icon--inline {
    fill: white;
    display: block;
    margin: auto;
    margin-top: 4px;
    height: 25px;
    width: 25px;

  }
}

// *************************************
//
// responsive-nav
// -> The resopnsive nav menu css
//
// *************************************

.Mob-contact-ico {
	display: none;
}


//======================================================
//          @media queries - Responsiveness
//======================================================


@media all and (max-width: 1040px) {
	.Nav-tel {
		display: none;
	 }
	 #js-navCollapseTarget {
		display: none;
        position: relative;
        top: 65px;
        left: 0;
        margin: 0;
        width: 100%;
        box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.3) inset;
	 }

	 .Bot-Nav {
		height: auto;
		min-height: 58px;
	 }
	 #js-navCollapse {
		display: block;
	 }

	//  This is the wrapper for the navigation
	.Nav-wrap {
		height: auto;
		min-height: 60px; // <-- adjust to height of div
	}

	.Navigation-menuToggle  {
	  display: block;
	}
	//  Adjust the sizes and colors for erverything to your choice
	.Navigation {	
		position: relative;
	}

	.Navigation-list {
		position: static;
        background-color: rgba(0, 78, 117, 1);
        border: 0px solid;
        box-shadow: 0 0 0 #fff;


	}


	.Navigation-listItem {
		display: block;
		float: none;
		line-height: 30px;
		border-left: 0 solid;
		width: 100%;

		&:last-of-type {
			margin-bottom: 15px;
		}

		&:hover {
			//background-color: $c-blue;

			-webkit-transition:all 0.2s ease;
			-moz-transition:all 0.2s ease;
			-o-transition:all 0.2s ease;
			a.Navigation-link {
			//	color: $c-blue;
				text-decoration: none;

			}
		}

        &:first-of-type a {       
          box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.1) inset;
          padding-top: 10px;  
        }

        &:last-of-type a {              
          box-shadow: 0px 15px 20px -18px rgba(0, 0, 0, 0.6);
          border-bottom: 0px solid;
        }

	}

	.Navigation-link {
        line-height: 58px;
		color: white;
		display: block;
        font-size: 20px;
		padding: 5px;
		margin: 0;
		font-weight: 400;
		letter-spacing: 1.7px;
	    &:hover {
            background-color: #1e719a;
            color: white;
        }


	}
	//	This is for those 3 contact icons on the left of the navbar
	.Mob-contact-ico {
		display: block;
		z-index: 5000;

		a { 
			border: 2px solid white;
			position: absolute;
			display: block;
			width: 35px;
			height: 35px;
			border-radius: 7px;
			top: 8px;
			background-color: transparent;
			&:hover {
				background-color: rgba(255,255,255,0.2);
			}

			.Icon--inline {
				fill: white;
				width: 2em;
				height: 2em;
				padding-bottom: 1em;				
			}
		}

		.telsvg {
			left: 10px;				
			.Icon--inline {
				margin: -4px;
				margin-top: 5px;
			}
		}

		.tel2svg {
			left: 55px;				
			.Icon--inline {
				margin: -5px;
				margin-top: 5px;
			}
		}

		.mailsvg {
			left: 100px;				
			.Icon--inline {
				margin: -4px;
				margin-top: 5px;
			}
		}
	}
}

@media all and (min-width: 1040px) {  
  #js-navCollapse {
    display: none;
  }
}

@media all and (max-width: 500px) { 
  .logo-top {
    width: 220px;
    margin-top: 38px;
  }
  
  .logo-bot {
    margin-top: 16px;
    width: 210px;
  }
}

@media all and (max-width: 390px) { 
  .logo-top {
    width: 180px;
    margin-top: 48px;
  }
  
  .logo-bot {
    margin-top: 20px;
    width: 170px;
  }
}
