// *************************************
//
// Table
// -> A module for beating tables into
//    submission
// *************************************

.Table {
  text-transform: uppercase;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Table--invertedBold {
  color: $c-white;
  font-weight: bold;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Table-heading {
  padding-bottom: $l-whiteSpace;
}
