// *************************************
//
// Settings
// -> Fonts, Variables
//
// *************************************

// -------------------------------------
// @font-face
// -------------------------------------

// Open Sans (normal, italic, bold, bold/italic)
@include web-fonts(("Open Sans": ("400", "400 italic", "800", "800 italic")));

// -------------------------------------
// Variables
// -------------------------------------

// ----- Colors ----- //

$c-black : #1B1C17;
$c-blue  : #0070AF;
$c-white : #EFEFEF;

// ----- Layout ----- //
$l-whiteSpace: 0.5rem;
$l-insideGutter: 1rem;

// Borders & Box-shadows
$l-border         : 1px solid $c-black;
$l-borderRadius   : 3px;
$l-boxShadow      : 0 1px 2px rgba($c-black, 0.25);

// ----- Text ----- //

$t-fontFamily       : 'Open Sans', $helvetica;
$t-headerFontFamily : 'Open Sans', $helvetica;
$t-fontSize         : 16px;
$t-lineHeight       : 1.5;
