// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "../../lib/scss/normalize/normalize";

// ----- Bourbon ----- //
@import "../../lib/scss/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "../../lib/scss/neat/neat";

// ----- Native wordpress styles ----- //
@import "../../lib/scss/wp/wp";

// ----- Override ----- //
@import "../../lib/scss/libs-override";

// -------------------------------------
// Core
// -------------------------------------

// ----- Helpers ----- //
@import "core/helpers";

// ----- Settings ----- //
@import "core/settings";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/content";
@import "modules/slider";
@import "modules/button";
@import "modules/equalheight";
@import "modules/header";
@import "modules/footer";
@import "modules/icon";
@import "modules/logo";
@import "modules/navigation";
@import "modules/dropdown-nav";
@import "modules/responsive-nav";
@import "modules/table";

// -------------------------------------
// Inbox
// -------------------------------------

#map_canvas {
	width: 100%;
	height: 250px;
}

#map_canvas img{
	max-width: inherit;
}
