// ========================================================================================================================
// Settings
// --------
// Font declarations, color, type and other global variables
// ========================================================================================================================

  /* Bourbon prefixing
  --------------------
  Turned off because we already use autoprefixer,
  which doesn't have to be updated. */

  $prefix-for-webkit:    false;
  $prefix-for-mozilla:   false;
  $prefix-for-microsoft: false;
  $prefix-for-opera:     false;
  $prefix-for-spec:      false;

  /* @font-face
  -----------*/

  /* Type
  -----*/

  /* Colors
  -------*/

  /* z-indexes
  ----------*/
